body {
  margin: 0;
  padding: 0;
  background-color: #111111;
}

h1, h2, h3, p {
  margin: 10px;
  padding-left: 10px;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.page-footer {
    border-top: 1px dotted darkgray;
    margin-top: 2rem;
    padding: 0.5rem 0;
    text-align: center;
    bottom: 0;
}

.see-pricing-button {
  background-color: #333333;
  color: white;
  font-size: 15px;
  padding: 10px;
  margin: 10em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
    background-color: #333333;
    border-radius: 7px;
    color: black;
    display: inline-grid;
    padding: 1rem;
    text-align: center;
    margin: 1%;
}

.product-row-desktop {
  padding: 2%;
  margin-top: 5%;
}

.logo {
  float: left;
}

.page-wrapper {
  background-color: #111111;
}

.form {
    margin: 2rem auto;
    width: 100%;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.centred-input {
    text-align: center;
}